@model personapi_dotnet.Models.Entities.Profesion

<h1>Editar Profesión</h1>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Nom" class="control-label"></label>
        <input asp-for="Nom" class="form-control" />
        <span asp-validation-for="Nom" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Des" class="control-label"></label>
        <input asp-for="Des" class="form-control" />
        <span asp-validation-for="Des" class="text-danger"></span>
    </div>
    <input type="submit" value="Guardar" class="btn btn-primary" />
</form>

<div>
    <a asp-action="Details" asp-route-id="@Model.Id">Volver a detalles</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
