@model personapi_dotnet.Models.Entities.Telefono

<h1>Editar Teléfono</h1>

<form asp-action="Edit">
    <input type="hidden" asp-for="Num" />

    <div class="form-group">
        <label asp-for="Oper" class="control-label">Operador</label>
        <input asp-for="Oper" class="form-control" />
        <span asp-validation-for="Oper" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Duenio" class="control-label">Dueño (CC)</label>
        <input asp-for="Duenio" class="form-control" />
        <span asp-validation-for="Duenio" class="text-danger"></span>
    </div>

    <input type="submit" value="Actualizar" class="btn btn-primary" />
</form>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>
