@model personapi_dotnet.Models.Entities.Estudio

@{
    ViewData["Title"] = "Eliminar Estudio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar Estudio</h1>

<h3>¿Está seguro de que desea eliminar este estudio?</h3>

<div>
    <h4>Estudio</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Profesión
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdProfNavigation.Nom)
        </dd>
        <dt class="col-sm-2">
            Persona
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CcPerNavigation.Nombre)
        </dd>
        <dt class="col-sm-2">
            Fecha
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class="col-sm-2">
            Universidad
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Univer)
        </dd>
    </dl>
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="IdProf" />
        <input type="hidden" asp-for="CcPer" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
